<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %} | DSWEB</title>
</head>
<body>
    <header>
        {% include 'global/partials/header.html' %}
        <h1>DESWEB</h1>
    </header>

    

    
    <main class='main-content'>
        <div class="h1-content">
            <h1>{% block h1 %}{% endblock h1 %}</h1>
        </div>
        <div class='content'>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>